* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  position: fixed;
  top: 0px;
  z-index: 1;
}
.top {
  width: 100vw;
  background-color: green;

  height: 29px;
  padding-top: 4.5px;
  text-align: center;
}

.top p {
  color: white;
  font-size: 10px;
}
.head {
  width: 100vw;
  background-color: white;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  gap: 15px;

  height: 67.1px;
}
.left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right div {
  padding-left: 30px;
}
.left div {
  padding-left: 30px;
}
.heading a {
  text-decoration: none;
  color: black;
}
.background {
  margin-top: 70px;
  background: url("./images/DeshleeCouch_Lifestyle8.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 80vh;
}
.background div {
  box-sizing: border-box;
  position: absolute;
  right: 150px;
  color: white;
  top: 150px;
  height: 295px;
  width: 311px;
  /* font-family: ; */

  line-height: 40pt;
}
.background div p {
  font-size: 50px;
}
.text1 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
}
.text {
  position: relative;
  top: 50px;

  height: 127px;
  text-align: center;
}
.text p {
  margin: 0;
  padding: 0;
}
.emojies {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 70px;
}
.emoji {
  display: flex;
  justify-content: center;
}
.emoji img {
  width: 50%;
  height: 50%;
}
.style-section {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.style-section strong {
  font-size: 12px;
}
.style-section p {
  font-size: 10px;
}
.style-section img {
  width: 30%;
  height: 50%;
}

.cards {
  position: relative;
  top: 100px;
}

.parent {
  text-align: center;
}
.child {
  position: relative;
  top: 150px;
}
.inf {
  margin-top: 250px;
  background-color: #f5f3ef;
}

.first_row img {
  width: 40vw;
  height: 80vh;
}

.right-part div {
  padding: 20px;
}
.right-part p {
  font-size: 10px;
}
.second-row {
  margin-top: 50px;
  height: 70vh;
}
.s p {
  padding: 0;
  font-size: 10px;
}
.second-row img {
  width: 50%;
  height: 50%;
}
.sp ~ p {
  font-size: 15px;
}
.sp {
  color: rgb(0, 128, 38);
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
}
